<p-table [value]="patients$ | async" selectionMode="single" dataKey="id" (onRowSelect)="onSelectedPatient($event)"
    [scrollable]="true" scrollHeight=500px [rows]="100" [virtualScroll]="true" [virtualScrollItemSize]="46"
    [lazy]="true" [loading]="loading" [showLoader]="false">
    <ng-template pTemplate="caption">
        <div class="flex">
            <div class="flex align-items-center">Pacientes</div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 25%;">Nombre </th>
            <th style="width: 25%;">Apellidos</th>
            <th style="width: 25%;">Fecha de nacimiento</th>
            <th style="width: 25%;">Género</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-patient>
        <tr [pSelectableRow]="patient">
            <td style="width: 25%;">{{patient.name}}</td> 
            <td style="width: 25%;">{{patient.family}}</td>
            <td style="width: 25%;">{{patient.birthDate | date:'dd/MM/yyyy'}}</td>
            <td style="width: 25%;">{{patient.gender | titlecase }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr *ngFor="let num of [1,2, 3, 4, 5, 6 ,7, 8, 9]">
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
        </tr>
    </ng-template>
</p-table>